<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Test</title>
</head>

<body>
    <h2> W3 Form </h2>

    <form>
        <label for="name">Name:</label>
        <input type="text" id="name" placeholder="name" name="name">
        <label for="pwd1">Password:</label>
        <input type="password" id="pwd1" placeholder="password" name="pwd1">
        <input type="submit" value="Ok">
    </form>
    <hr>
    <h2> Solution's form:</h2>
    <form action="/login" method="post">
        <label>Name</label>
        <input type="text" placeholder="name" name="username">
        <label>Password</label>
        <input type="password" placeholder="password" name="password">
        <button type="submit">Ok</button>
    </form>
    <hr>
    <h2> Solution's form with dynamic URL:</h2>
    <form action="{{ url_for('receive_data') }}" method="post">
        <label>Name</label>
        <input type="text" placeholder="name" name="username">
        <label>Password</label>
        <input type="password" placeholder="password" name="password">
        <button type="submit">Ok</button>
    </form>

</body>

</html>